body {
    background-image: url("../img/bgn.gif");
    background-size: cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-bottom: 3%;
}

#box, #boxTitle {
    padding-bottom: 30px;
    padding-left: 20px;
    background-color: rgb(211, 211, 194);
    border-style: double;
    border-width: 7px;
}

#boxTitle {
    background-color: rgb(255, 255, 255);
    margin-top: 3px;
    margin-bottom: 3px;
}
