body {
    background-image: url("../img/bgn.jpg");
    background-size: cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#box, #boxTitle {
    padding-bottom: 30px;
    padding-left: 20px;
    background-color: rgb(204, 204, 187);
    border-style: solid;
    border-width: 3px;
}

#boxTitle {
    background-color: rgb(204, 203, 203);
    margin-top: 3px;
    margin-bottom: 3px;
}
